<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DbConnectionString" connectionString="data source=DESKTOP-DJPC9S5\SQLEXPRESS;Initial Catalog=CourseProject; Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="CourseProjectEntities" connectionString="metadata=res://*/DataBase.csdl|res://*/DataBase.ssdl|res://*/DataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DJPC9S5\SQLEXPRESS;initial catalog=CourseProject;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CourseProject" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DJPC9S5\SQLEXPRESS;initial catalog=CourseProject;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CourseProjectEntitiesFramework" connectionString="metadata=res://*/ClassOfDataBase.csdl|res://*/ClassOfDataBase.ssdl|res://*/ClassOfDataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DJPC9S5\SQLEXPRESS;initial catalog=CourseProject;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HotelsEntitiesFramework" connectionString="metadata=res://*/CourseProjectEntitiesFramework.csdl|res://*/CourseProjectEntitiesFramework.ssdl|res://*/CourseProjectEntitiesFramework.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DJPC9S5\SQLEXPRESS;initial catalog=CourseProject;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>